name: build

on:
  push:
    branches:
    tags:
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: lint docker files
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile
          ignore: DL3018,DL3003,DL3059,DL3007

      - name: shellcheck
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: '.'
